{% extends "base.html" %}

{% block content %}
<h1 class="errorpage-title">Method Not Allowed (405)</h1>
<div class="errorpage-section">
  <h4>Method Not Allowed</h4>
  <h4><a href="{{ url_for('admin.index') }}">Flask Application</a></h4>
</div>
{% endblock %}